@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
   font-family:'poppins', sans-serif;
   width: 100%;

}
  /* Custom CSS untuk menyesuaikan tata letak atau gaya tambahan */
  .police-nav {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D'); /* URL gambar latar belakang polisi */
    background-size: cover; /* Agar gambar latar belakang menutupi seluruh area navigasi */
    padding: 20px; /* Spasi internal */
    
  }
  .navbar-brand {
    color: #fff; /* Warna teks untuk merek navbar */
    font-weight: bold; /* Tebal teks */
    margin-left:20px;
  }
  .navbar-nav .nav-link {
    color: #fff !important; /* Warna teks untuk tautan navigasi */
    font-weight: bold; /* Tebal teks */
    margin-right:30px;
  }
  .navbar-nav .nav-link:hover{
    background:#00AEEF;
    border-radius: 10%;
  }
  .welcome-message {
    position: absolute; /* Menetapkan posisi absolut */
    top: 50%; /* Menempatkan di tengah vertikal */
    left: 50%; /* Menempatkan di tengah horizontal */
    transform: translate(-50%, -50%); /* Pusatkan elemen */
    color: #fff; /* Warna teks */
    font-size:30px; /* Ukuran teks */
    font-weight: 600; /* Tebal teks */
    text-align: center; /* Pusatkan teks */
  }
  .btn-below-welcome {
    position: absolute; /* Menetapkan posisi absolut */
    top: 10%; /* Menempatkan di bawah tulisan kedua */
    left: 50%; /* Menempatkan di tengah horizontal */
    transform: translateX(-50%); /* Pusatkan elemen */
    background-color : #00AEEF;
    border : none;
  
  }
  .nav-cartoon {
    position: relative; /* Menetapkan posisi relatif */
    display: inline-block; /* Agar elemen bisa berada dalam aliran teks */
    margin-right: 20px; /* Jarak kanan */
  }
  .nav-cartoon img {
    max-height: 40px; /* Tinggi maksimum gambar */
    vertical-align: middle; /* Pusatkan gambar secara vertikal */
  }
  .nav-cartoon .nav-link {
    padding-left: 50px; /* Tambahkan padding kiri untuk membuat ruang untuk gambar */
  }
  .half-image {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 0; /* Mengubah nilai z-index ke 0 */
    max-height: 100%;
    width: 350px;
  }
.container {
    max-width: 1200px;
    margin: auto ;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
}

.column {
    flex: 1;
    padding: 0 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
}

.gambar {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.info {
    text-align: center;
    margin-top: 3%;
}

.info h3 {
    margin-top: 0;
    font-weight: 600;
    color :#1565c0; 
}

.info p {
    margin-bottom: 0;
    text-align: justify;
}


.artikel{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height : 100%;
    padding: 9px;
    margin-bottom:15px;
}
.artikel h1{
  font-weight: 600;
  border-bottom: 4px solid #1565c0; /* Menambahkan garis bawah dengan warna dan ketebalan tertentu */
  padding-bottom: 5px;
}
.artikel p{
  text-align: justify;
  padding-left: 20px;
  padding-right:20px;
}
.btn-primary {
  margin:auto;
}
.artikel table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.artikel table, .artikel th, .artikel td {
  border: 1px solid #ddd;
}
.artikel th, .artikel td {
  padding: 8px;
  text-align: justify;
}
 .artikel th{
  background: linear-gradient(to left,#b92b27, #1565c0);
  color : white;
  text-align: center;
}






